@font-face{
    font-family: display;
    font-weight: regular;
    src: url('../fonts/display.ttf');
}
@font-face{
    font-family: mono_andale;
    font-weight: regular;
    src: url('../fonts/mono.ttf')
}

h1{
    color:white;
    font-size: 24px;
}

body{
    font-size: 17px;
    font-family: mono_andale, display;
    font-weight: bold;
}

a:link, a:active{
    color:yellow;
}
a:hover{
    color:cadetblue;
}

p{
    font-family: mono_andale;
    font-size: 18px;
    color:white;
    text-align: center;
}

blockquote{
    color:white;
}

text{
    boder: 0px solid powderblue;
    padding: 5px;
    margin: 30px;
    color:white;
}
