@font-face{
    font-family: display;
    font-weight: regular;
    src: url('../fonts/display.ttf');
}
@font-face{
    font-family: mono_andale;
    font-weight: regular;
    src: url('../fonts/mono.ttf')
}

body{
    font-family: mono_andale, display;
    font-size: 17px;
    color: white;
    background-image: url('../images/banboo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 15%;
    padding: 10px;
}

ul{
    list-style-type: disc;
}

p{
    font-family: mono_andale;
    font-size: 18px;
}
.container{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.code{
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    color: yellow;
    background-color: rgba(255,255,255,0.2);
    max-width: 60%;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 10px;
}
